---
# Only the main Sass file needs front matter (the dashes are enough)
---

/* Bulma Variables */
$primary: #3e3c8e;
$yellow: #fbbf51;
$green: #29a25b;
$grey-darker: #5a6372;
$turquoise: #04bfbf;
$red: #d9042b;

/* Bulma Timeline Variables */
$timeline-marker-border: none;

/* Import the needful after variables are set */
@import 'node_modules/bulma/bulma';
@import 'node_modules/bulma-timeline/dist/css/bulma-timeline';
