# https://gitlab.com/help/user/project/code_owners

# Default
* @afolson

# Company
/src/_company/ @DouweM

# Data
/src/_data-team/ @tayloramurphy

# Engineering
/src/_engineering/ @aaronsteers

# Marketing
/src/_marketing/ @Emily

# PeopleOps
/src/_peopleops/ @DouweM

# Product
/src/_product/ @tayloramurphy

# Resources
/src/_resources/ @meltano/core-team

# Support
/src/_support/ @afolson

# Meltano Timeline
timeline.html @meltano/core-team
