<!DOCTYPE html>
<html>

{% include head.html %}

  <body>

    {% include header.html %}
    <div class="container is-fluid">
      <div class="columns">
        <div class="column is-2">
            <aside class="menu is-fullheight is-narrow-mobile is-hidden-mobile">
              {% if site.collections %}
                {% for collection in site.collections %}
                  {% if collection.label != "posts" %}
                    <p class="menu-label">
                    {% if collection.icon %}
                      {% assign icon = collection.icon %}
                      <span class="icon"><i class="fas {{ icon }}"></i></span>
                    {% else %}
                      <span class="icon"><i class="fas fa-book-open"></i></span>
                    {% endif %}
                    {{ collection.name | capitalize }}
                    </p>
                    <ul class="menu-list">

                      <!-- render pages without 'subcategory' front matter -->
                      {% assign items = site[collection.label] | sort: "weight" %}
                      {% for item in items %}
                        {% unless item.subcategory %}
                        <li><a href="{{ item.url }}" class="{% if item.url == page.url %}is-active{% endif %}">{{ item.title }}</a></li>
                        {% endunless %}
                      {% endfor %}

                      <!-- render pages with 'subcategory' front matter -->
                      {% assign subcategories = site[collection.label] | map: "subcategory" | uniq | compact %}
                      {% assign num_subcategories = subcategories | size %}
                      {% if num_subcategories > 0 %}
                        {% for subcategory in subcategories %}
                          {% assign items = site[collection.label] | sort: "weight" | where: "subcategory", subcategory %}

                          <!-- try to find an item in this subcategory called 'index' to use as header link -->
                          {% assign index_url = "#" %}
                          {% for item in items %}
                            {% assign page_name = item.url | split:"/" | last %}
                            {% if page_name == "index" %}
                              {% assign index_url = item.url %}
                            {% endif %}
                          {% endfor %}

                          <li>
                            <a href="{{ index_url }}">{{ subcategory }}</a>
                            <ul>
                            {% for item in items %}
                              {% unless item.url == index_url %}
                              <li>
                                <a href="{{ item.url }}" class="{% if item.url == page.url %}is-active{% endif %}">{{ item.title }}</a>
                              </li>
                              {% endunless %}
                            {% endfor %}
                            </ul>
                          </li>

                        {% endfor %%}
                      {% endif %}

                    </ul>
                  {% endif %}
                {% endfor %}
              {% endif %}
            </aside>

<!--   <aside class="column is-2 is-narrow-mobile is-fullheight section is-hidden-mobile">
    <p class="menu-label is-hidden-touch">Navigation</p>
    <ul class="menu-list">
      {% if site.collections %}
        {% for collection in site.collections %}
          {% if collection.label != "posts" %}
          <li>
            <a href="/{{ collection.label }}" class="{% if collection.page.url == page.url %}is-active{% endif %}">
              {% if collection.icon %}
              {% assign icon = collection.icon %}
                <span class="icon"><i class="fas {{ icon }}"></i></span> {{ collection.label | capitalize }}
              {% else %}
                <span class="icon"><i class="fas fa-table"></i></span> {{ collection.label | capitalize }}
              {% endif %}
            </a>
            <ul>
              {% for item in site[collection.label] %}
                {% unless item.path contains 'index' %}
                <li>
                  <a href="{{ item.url }}" class="{% if item.url == page.url %}is-active{% endif %}">
                   {{ item.title }}
                  </a>
                </li>
                {% endunless %}
              {% endfor %}
            </ul>
          </li>
          {% endif %}
        {% endfor %}
      {% endif %}
    </ul>
  </aside> -->

            </div>
            <div class="column is-8">

                {% include breadcrumbs.html %}

                <section class="section content">
                  <h1>{{ page.title }}</h1>

                  <div id="markdown-content">{% include anchor_headings.html html=content anchorBody="<i class=\"fa-solid fa-link\"></i>" %}</div>

                </section>

                <hr />

                <section>
                  <div class="content has-text-centered">
                    <p>
                      <a href="{{site.github_repository}}/edit/main/src/{{page.relative_path}}"><i class="fab fa-github"></i> Edit this page!</a>
                    </p>
                  </div>
                </section>

            </div>


            <div class="column is-2">
            <aside class="toc is-fullheight is-narrow-mobile is-hidden-mobile">
              <h2>Table of Contents</h2>

              <div id="table-of-contents">{% toc %}</div>

            </aside>
        </div>

        </div>

    </div>
    {% include footer.html %}
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5VS5QRB"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

</body>

</html>
